<section id="home">
  <div>
    <form action="/artist-search" method="GET">
      <div>
        <input
          type="text"
          id="artist"
          name="artist"
          placeholder="Search an artist"
        />
      </div>
      <button type="submit">Search for an artist</button>
    </form>
  </div>
</section>